@import "_vars.scss";

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#app {
    width: 100%;
    margin: 0px;
}

#site-level {
    position: relative;
    margin: auto;
    max-width: 1000px;
}

#social-nav, #top-nav {
    width: 100%;
    text-align: center;
    margin: 0;
}

li.menu-icon {
    display: inline-block;
    padding: 3% 6% 3% 6%;
}

#home-border {
    width: 100%;
}

#banner {
    width: 100%;
}

#intro-text {
    width: 100%;
    text-align: center;
    padding: 1% 0% 1% 0%;
}

#featured-section {
    width: 100%;
}

.featured-project-image {
    width: 25%;
    float: left;
    padding: 1% 2% 1% 8%;
}

.featured-project-image img{
    height: 200px;
    width: 275px;
}


.featured-project-text {
    width: 48%;
    display: inline-block;
    padding-top: 6%;
    padding-left: 2%;
}

.featured-project-text h3{
    padding-bottom: 1.8%;
}

.featured-project-text p{
    padding-bottom: 1.8%;
}

.featured-project-button {
    width: 10%;
    float: right;
}

#about-me {
    padding: 3%;
}

#about-me h1, #about-me p {
    padding-bottom: 2%;
}

#gallery {
    width: 100vw;
}

/*for modal*/
.gallery-picture {
    width: 33%;
    border-radius: 5px;
    transition: 0.3s;
}

.gallery-picture:hover {
  opacity: 0.7;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top:0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 700px;
}

.modal-content img{
    width: 100%;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.4s;
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from{transform: scale(0)}
  to {transform: scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  background-color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  border: none;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
}

.prev, .next {
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 2.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  border: none;
  outline: none;
}

.next {
    right: 0%;
}

.prev {
    left: 0%;
}